SolidariaParametrizacion.Servicios/Connected Services/ParametrizacionServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.1.2.13:8088/WCFTablasParametrizacion/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" />
  <xs:element name="TraerSucursales">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursalesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerSucursalesResult" nillable="true" type="q1:ArrayOfSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerSucursalResult" nillable="true" type="q2:Sucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursalesxAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoAgente" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursalesxAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerSucursalesxAgenteResult" nillable="true" type="q3:ArrayOfSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursalesxUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSucursalesxUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerSucursalesxUsuarioResult" nillable="true" type="q4:ArrayOfSucursal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMacroRamos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMacroRamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerMacroRamosResult" nillable="true" type="q5:ArrayOfMacroRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMacroRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoMacroRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMacroRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerMacroRamoResult" nillable="true" type="q6:MacroRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMacroRamoxRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoMacroRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMacroRamoxRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerMacroRamoxRamoResult" nillable="true" type="q7:MacroRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerRamosResult" nillable="true" type="q8:ArrayOfRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamosxMacroRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoMacroRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamosxMacroRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerRamosxMacroRamoResult" nillable="true" type="q9:ArrayOfRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerRamoResult" nillable="true" type="q10:Ramo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamosxSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamosxSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerRamosxSucursalResult" nillable="true" type="q11:ArrayOfRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamoxSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerRamoxSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerRamoxSucursalResult" nillable="true" type="q12:Ramo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoPoliza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoPolizaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoPolizaResult" nillable="true" type="q13:ArrayOfTipoPoliza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSubRamosxRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSubRamosxRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerSubRamosxRamoResult" nillable="true" type="q14:ArrayOfSubRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSubRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoSubRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerSubRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerSubRamoResult" nillable="true" type="q15:SubRamo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDeducible">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoSubRamo" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoTarifa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDeducibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerDeducibleResult" nillable="true" type="q16:ArrayOfDeducible" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPaisesResult" nillable="true" type="q17:ArrayOfPais" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerDepartamentosResult" nillable="true" type="q18:ArrayOfDepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerDepartamentoResult" nillable="true" type="q19:Departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMunicipiosxDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoDepartamento" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMunicipiosxDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerMunicipiosxDepartamentoResult" nillable="true" type="q20:ArrayOfMunicipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMunicipio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoDepartamento" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoMunicipio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMunicipioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerMunicipioResult" nillable="true" type="q21:Municipio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoDocumento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoDocumentoResult" nillable="true" type="q22:ArrayOfTipoDocumento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTelefono">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTelefonoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoTelefonoResult" nillable="true" type="q23:ArrayOfTipoTelefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTelefonoxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoTelefono" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTelefonoxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoTelefonoxCodigoResult" nillable="true" type="q24:TipoTelefono" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoDireccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoDireccionResult" nillable="true" type="q25:ArrayOfTipoDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoDireccionxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoDireccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoDireccionxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoDireccionxCodigoResult" nillable="true" type="q26:TipoDireccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoAgente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoAgenteResult" nillable="true" type="q27:ArrayOfTipoAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoAgentexCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoAgentexCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoAgentexCodigoResult" nillable="true" type="q28:TipoAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMoneda">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerMonedaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerMonedaResult" nillable="true" type="q29:ArrayOfMoneda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoMovimiento">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoMovimientoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoMovimientoResult" nillable="true" type="q30:ArrayOfTipoMovimiento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerGrupoEndoso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerGrupoEndosoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerGrupoEndosoResult" nillable="true" type="q31:ArrayOfGrupoEndoso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoEndoso">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoGrupoEndoso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoEndosoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoEndosoResult" nillable="true" type="q32:ArrayOfTipoEndoso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoEndosoxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoGrupoEndoso" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoTipoEndoso" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoEndosoxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoEndosoxCodigoResult" nillable="true" type="q33:TipoEndoso" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConvenios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConveniosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerConveniosResult" nillable="true" type="q34:ArrayOfConvenio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConvenioxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConvenioxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerConvenioxCodigoResult" nillable="true" type="q35:Convenio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPuntoVentaResult" nillable="true" type="q36:ArrayOfPuntoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoPuntoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPuntoVentaxCodigoResult" nillable="true" type="q37:PuntoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPuntoVentaxUsuarioResult" nillable="true" type="q38:ArrayOfPuntoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxSucursalxUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxSucursalxUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPuntoVentaxSucursalxUsuarioResult" nillable="true" type="q39:ArrayOfPuntoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoAgente" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPuntoVentaxAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPuntoVentaxAgenteResult" nillable="true" type="q40:ArrayOfPuntoVenta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOficinasConvenio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOficinasConvenioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerOficinasConvenioResult" nillable="true" type="q41:ArrayOfOficinaConvenio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOficinasConvenioxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConvenio" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoPuntoVenta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOficinasConvenioxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerOficinasConvenioxCodigoResult" nillable="true" type="q42:OficinaConvenio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoUsuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerUsuarioxCodigoResult" nillable="true" type="q43:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioxSucursal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioxSucursalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerUsuarioxSucursalResult" nillable="true" type="q44:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioxIntermediario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoAgente" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerUsuarioxIntermediarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerUsuarioxIntermediarioResult" nillable="true" type="q45:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerActividadEconomica">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerActividadEconomicaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerActividadEconomicaResult" nillable="true" type="q46:ArrayOfActividadEconomica" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoAsegurado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoAseguradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoAseguradoResult" nillable="true" type="q47:ArrayOfTipoAsegurado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCategoriaAsegurado">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCategoriaAseguradoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerCategoriaAseguradoResult" nillable="true" type="q48:ArrayOfCategoriaAsegurado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoClienteResult" nillable="true" type="q49:ArrayOfTipoCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerGiroNegocio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerGiroNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerGiroNegocioResult" nillable="true" type="q50:ArrayOfGiroNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerGiroNegocioxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoGiroNegocio" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerGiroNegocioxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerGiroNegocioxCodigoResult" nillable="true" type="q51:GiroNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOcupaciones">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerOcupacionesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerOcupacionesResult" nillable="true" type="q52:ArrayOfOcupacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAgrupadoresResult" nillable="true" type="q53:ArrayOfAgrupador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadoresxNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NombreAgrupador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadoresxNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAgrupadoresxNombreResult" nillable="true" type="q54:ArrayOfAgrupador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadoresxSucursal_Nombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoSucursal" type="xs:int" />
        <xs:element minOccurs="0" name="NombreAgrupador" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadoresxSucursal_NombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAgrupadoresxSucursal_NombreResult" nillable="true" type="q55:ArrayOfAgrupador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadorxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoAgrupador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgrupadorxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAgrupadorxCodigoResult" nillable="true" type="q56:Agrupador" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoNegocio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoNegocioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoNegocioResult" nillable="true" type="q57:ArrayOfTipoNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgentes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgentesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAgentesResult" nillable="true" type="q58:ArrayOfAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgentexCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoAgente" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAgentexCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAgentexCodigoResult" nillable="true" type="q59:Agente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoAgente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoAgente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoAgenteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="ConsultarTipoAgenteResult" nillable="true" type="q60:ArrayOfAgente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerParentesco">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerParentescoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerParentescoResult" nillable="true" type="q61:ArrayOfParentesco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerEstadoCivil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerEstadoCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerEstadoCivilResult" nillable="true" type="q62:ArrayOfEstadoCivil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTasa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTasaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoTasaResult" nillable="true" type="q63:ArrayOfTipoTasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTasaxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoTasa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoTasaxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoTasaxCodigoResult" nillable="true" type="q64:TipoTasa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoVigencia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoVigenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoVigenciaResult" nillable="true" type="q65:ArrayOfTipoVigencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoVigenciaxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoTipoVigencia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTipoVigenciaxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerTipoVigenciaxCodigoResult" nillable="true" type="q66:TipoVigencia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPeriodoFacturacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPeriodoFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPeriodoFacturacionResult" nillable="true" type="q67:ArrayOfPeriodoFacturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPeriodoFacturacionxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoPeriodoFacturacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPeriodoFacturacionxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPeriodoFacturacionxCodigoResult" nillable="true" type="q68:PeriodoFacturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCalculoFacturacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCalculoFacturacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerCalculoFacturacionResult" nillable="true" type="q69:ArrayOfCalculoFacturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCoaseguradoras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCoaseguradorasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerCoaseguradorasResult" nillable="true" type="q70:ArrayOfCoaseguradora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCoaseguradoraxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoCoaseguradora" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCoaseguradoraxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerCoaseguradoraxCodigoResult" nillable="true" type="q71:Coaseguradora" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCargos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCargosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerCargosResult" nillable="true" type="q72:ArrayOfCargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCargoxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoCargo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerCargoxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerCargoxCodigoResult" nillable="true" type="q73:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAreas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAreasResult" nillable="true" type="q74:ArrayOfArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAreaxCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoArea" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerAreaxCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerAreaxCodigoResult" nillable="true" type="q75:Area" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerInformacionFinanciera">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerInformacionFinancieraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerInformacionFinancieraResult" nillable="true" type="q76:ArrayOfInformacionFinanciera" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerConductoResult" nillable="true" type="q77:ArrayOfConducto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoPlan">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerConductoPlanResult" nillable="true" type="q78:ArrayOfConductoPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoPlanxPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoPlan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoPlanxPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerConductoPlanxPlanResult" nillable="true" type="q79:ArrayOfConductoPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoPlanxConducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoConducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerConductoPlanxConductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerConductoPlanxConductoResult" nillable="true" type="q80:ArrayOfConductoPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPlanPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerPlanPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerPlanPagoResult" nillable="true" type="q81:ArrayOfPlanPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerFormaPago">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerFormaPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerFormaPagoResult" nillable="true" type="q82:ArrayOfFormaPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioSoligesproXCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioSoligesproXCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="UsuarioSoligesproXCodigoResult" nillable="true" type="q83:UsuarioSoligespro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConductoPago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoAsegurado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarConductoPagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="ConsultarConductoPagoResult" nillable="true" type="q84:ArrayOfConductoPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPlanpago">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodigoRamo" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoAsegurado" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoTipoPoliza" type="xs:int" />
        <xs:element minOccurs="0" name="CodigoConducto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPlanpagoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="ConsultarPlanpagoResult" nillable="true" type="q85:ArrayOfPlanPago" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerBancos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerBancosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="TraerBancosResult" nillable="true" type="q86:ArrayOfBanco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoEmpresa">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarTipoEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="ConsultarTipoEmpresaResult" nillable="true" type="q87:ArrayOfTipoEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRamoImpuestoXRamo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCodigoRamo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRamoImpuestoXRamoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="ConsultarRamoImpuestoXRamoResult" nillable="true" type="q88:RamoImpuesto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRamosImpuestos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarRamosImpuestosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Tablas_Parametrizacion.Entidades" minOccurs="0" name="ConsultarRamosImpuestosResult" nillable="true" type="q89:ArrayOfRamoImpuesto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>